In [24]:
import xlrd,xlwt
import datetime
import pandas as pd
import pandas_datareader.data as web
from tqdm import tqdm
import IPython
import glob

In [25]:
def recent_price(stockname,start_time):
	# today = datetime.date.today()
	date = start_time.split('-')
	t1 = pd.Timestamp(datetime.datetime(int(date[0]),int(date[1]),int(date[2]),0,0,0))  # 创建一个datetime.datetime
	# High            155.789993
	# Low             154.600006
	# Open            155.570007
	# Close           155.720001
	# Volume       521800.000000
	# Adj Close       153.603760
	try:
		prices = web.DataReader(stockname, 'yahoo')
		today_index = list(prices.index).index(t1)
		tomorrow_index = prices.index[today_index+1]
		recent_indexs = [prices.index[today_index+i] for i in range(-1,6)]
		# 前一天 当天 和 后五天的 
		data = []
		for index in recent_indexs:
			data.append(prices.loc[index]['Close'])
	except KeyboardInterrupt:
		exit()
	except:
		return
	return data

In [26]:
df = pd.read_csv(r'/Users/wangfeihong/Desktop/Dynamic-Financial-News-Collection-and-Analysis/news.csv',encoding='ISO-8859-1') 
df.info()
# df.head(1)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1020077 entries, 0 to 1020076
Data columns (total 5 columns):
date       1020077 non-null object
_id        1020077 non-null object
content    1017616 non-null object
date.1     1020077 non-null object
title      1020076 non-null object
dtypes: object(5)
memory usage: 38.9+ MB

In [27]:
# Index(['date', '_id', 'content', 'date.1	', 'title'], dtype='object')

In [28]:
# 空缺值长度
len(df[df.isnull().values==True].drop_duplicates())

2462

In [29]:
# 空缺值中属于content空缺的
len(df[df['content'].isnull().values==True].drop_duplicates())

2461

In [30]:
# 空缺值中属于title空缺的
len(df[df['title'].isnull().values==True].drop_duplicates())

1

In [31]:
len(df[df['date'].isnull().values==True].drop_duplicates())

0

In [32]:
df['date'].describe()

count        1020077
unique          4188
top       2012-06-08
freq            1572
Name: date, dtype: object

In [33]:
max(df['date'])

'2018-04-07'

In [34]:
min(df['date'])

'2006-10-20'

In [35]:
df['_id'].describe()

count         1020077
unique        1020077
top       USL1N1J90YI
freq                1
Name: _id, dtype: object

In [36]:
df['content'].describe()

count     1017616
unique    1005730
top
freq          990
Name: content, dtype: object

In [37]:
df['title'].describe()

count                                               1020076
unique                                               979927
top       Certificate of Deposits Reported: India Money ...
freq                                                    587
Name: title, dtype: object

In [ ]:
for i in range(0,len(df['date'])):
    print(i)

In [38]:
len(df['date'])

1020077